{% block content %}
<div class="foreground"></div>
<div class="foregroundContent">
    <h1>Andrew's Secret Certification Page</h1>

    <strong
      >See
      <a
        href="https://www.linkedin.com/in/simonsonandrew/details/certifications/"
        >here</a
      >
      for a comprehensive list of certifications that can be confirmed by
      LinkedIn</strong
    >
<p>
    Some highlights:
</p>
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/learning/certificates/2cb69378c606fec5a6f3a107b99a896862db392b7a3692f71a6b53af5d5545c5"
          >Career Essentials in Data Analysis by Microsoft</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/learning/certificates/7facc28a13405134b3b7fa785303e9b1cf697f32d67f759e89960fbdc8a044d9"
          >Career Essentials in GitHub Professional Certificate</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/learning/certificates/7b952323152e258ca468c33ddc9ebcf3c55036f58a5cfb3fb9c1410da655aaa5"
          >Docker Foundations Professional Certificate</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/learning/certificates/7017147ac73af5bc26fdab9b3c43671fb8105a0de59d4689d5f0f71c549c150f"
          >Data Science Foundations: Fundamentals</a
        >
      </li>
    </ul>
    <h2>RIT Entrepreneurial Certifications</h2>
    <ul>
      <li><a href="https://files.asimonson.com/raw/B8UVkb.pdf">Design Thinking Certification</a></li>
      <li><a href="https://files.asimonson.com/raw/Ngp1T0.pdf">Ideation Certification</a></li>
      <li><a href="https://files.asimonson.com/raw/fa3Lfe.pdf">Tools for Innovators Certification</a></li>
    </ul>
  </div>
{% endblock %}
