<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="{{ var['description'] }}" />
    <meta property="og:title" content="Andrew Simonson" />
    <meta name="og:description" content="{{ var['description'] }}" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://asimonson.com{{ url_for('static', filename='photos/sun.png') }}"
    />
    <meta property="og:url" content="{{ var['description'] }}" />
    <meta property="twitter:title" content="Andrew Simonson" />
    <meta name="twitter:description" content="{{ var['description'] }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:site_name" content="Andrew Simonson - Portfolio" />
    <meta
      property="twitter:image"
      content="https://asimonson.com{{ url_for('static', filename='photos/sun.png') }}"
    />
    <meta name="twitter:image:alt" content="some example picture idk" />
    <meta name="twitter:site" content="@asimonson1125" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-E2V93W9CNV"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-E2V93W9CNV");
    </script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/App.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/checkbox.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/head.css') }}"
    />

    <link rel="canonical" href="https://asimonson.com{{ var['canonical'] }}" />
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.min.js"></script>
    <script src="{{ url_for('static', filename='js/idler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/checkbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responsive.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chessbed.js') }}"></script>
    <title>{{ var['title'] }}</title>
  </head>

  <body onpopstate="backButton()">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="App">
      <div class="header">

          <div id="name-container" onclick="goto('home')">
            <div class="glitch">
              {% for i in range(9) %}
              <div class="line name">
                <span class="textGrad">Andrew Simonson</span>
              </div>
              {% endfor %}
            </div>
          </div>
        
        <img
          src="{{ url_for('static', filename='icons/menu.svg')}}"
          alt="menu"
          id="menu"
          onClick="toggleMenu()"
        />
        <div class="navControl">
          <div class="navBar">
            <div class="navElement">
              <p onclick="goto('home')">Home</p>
            </div>
            <div class="navElement">
              <a href="Resume.pdf" target="_blank"> Resume </a>
            </div>
            <div class="navElement">
              <p onclick="goto('projects')">Projects</p>
            </div>
            <!-- <a href="/activities">Activities</a> -->
            <div class="navElement">
              <p onclick="goto('about')">About Me</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="root">{% include var['template'] %}</div>
    <div class="footer">
      {% include 'partials/socials.html' %}
    </div>
  </body>
</html>
