{% block content %}
<div class="foreground"></div>
<div class="relative growBottom">
  <div id="nametag" class="flex" data-aos="fade-up">
    <div>
        <h1 class="textGrad">Work</h1>
        <h2>Projects &amp; experiments</h2>
    </div>
  </div>
  <div class="homeSubContent">
    <div class="foregroundContent">

      <!-- About / Intro -->
      <div style="max-width: 52em; margin-bottom: 3em;">
          <p>
              I'm Andrew Simonson<!--, CEO of the anti-thermodynamics syndicate.-->,
              a <strong>Data Scientist at Ecolab</strong> and a graduate Data
              Science student at
              <strong>Rochester Institute of Technology</strong>, having
              recently completed the <b>Computer Science BS</b> program
              (international relations minor) with a focus on probability
              theory.
              <br/>
              <br/>
              I get bored and throw random stuff on this website.<br/>
              This is what unprofessional development looks like.
          </p>
          <br/>
          <p style="color: var(--text-secondary); font-size: 0.9rem;">
              I also have a
              <a href="certs">certifications page</a>
              and a
              <a href="Resume_Simonson_Andrew.pdf" target="_blank">resume</a>
              for unexplained reasons.
          </p>
      </div>

      <!-- Skills -->
      <div id="skills" style="margin-bottom: 3.5em;">
          <h2>Technologies</h2>
          {% from 'partials/skills.html' import skills %} {{
          skills(var['skillList']) }}
      </div>

      <!-- Projects -->
      <h2>Projects</h2>
      <div class="projectList">
          {% from 'partials/project.html' import project %} {% for i in
          var["projects"] %} {{ project(i, var["projects"][i]["classes"],
          var["projects"][i]["status"], var["projects"][i]["bgi"],
          var["projects"][i]["content"], var["projects"][i]["links"]) }} {% endfor
          %}
      </div>

    </div>
  </div>
</div>

{% endblock %}
