{% block content %}
<div class="foreground"></div>
<div class="foregroundContent">
  <h2 class='concentratedHead'>Status Page</h2>
  <h4>Page under construction</h4>
  <table>
    <tr>
      <th>Host</th>
      <th>Service(s)</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>LC lemp</td>
      <td>Portfolio Website</td>
      <td></td>
    </tr>
    <tr>
      <td>LC lemp</td>
      <td>hotspots.asimonson.com</td>
      <td></td>
    </tr>
    <tr>
      <td>LC Antietam</td>
      <td>gatorway</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <td>CSH K8s Cluster</td>
      <td>slate.csh.rit.edu</td>
      <td></td>
    </tr>
  </table>
</div>
{% endblock %}
