{% macro project(title, classes, status, bgi, content, links) %}
<div class="project {{ classes }}" data-aos="fade-up">
  <div class="projTitle">
    <h3>{{ title }}</h3>
    <p><span class="status-dot {{ status }}"></span> {{ status }}</p>
  </div>
  <div class="projBody mobileV">
    <div class="projImage">
      {% if bgi|length > 0 %} {% set path = url_for('static',
      filename='photos/projects/' + bgi) %}
      <img class="" src="{{ path }}" alt="Ref image for {{ title }} project" />
      {% endif %}
    </div>

    <div class="grow backedBody">
      <div class="projDesc vFlex spaceBetween">
        <p>{{ content }}</p>
        <div class="projLinks">
          {% for i in links %} {% set src = 'icons/' + i[0] + '.svg' %}
          <a href="{{i[1]}}">
            <img
              class="projectLink"
              src="{{ url_for('static', filename=src) }}"
              alt="{{i[0]}}"
            />
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
