{% macro expandSkill(dict, name, classes="") %} 
<div class='skill {{ classes }}' data-length='{{ dict[name]|length }}'>
    <div onclick='activeSkill(this)' class='skillname'>{{ name }}</div>
{% for child in dict[name] %}
{{ expandSkill(dict[name], child) }}
{% endfor %} 
</div>
{% endmacro %}

{% macro skills(skills) %}
<div id="skillTree">
    {% for skill in skills %}
    {% set classes = "" %}
    {% if skill == skills|first %}
        {% set classes = "activeSkill" %}
    {% endif %}
    {{ expandSkill(skills, skill, classes) }}
    {% endfor %}
</div>
{% endmacro %}