<div class='socials' role='contentinfo' aria-label='Social links'>
    <a href='https://github.com/asimonson1125' aria-label='GitHub profile' rel='noopener noreferrer'>
        <img alt='' src="{{ url_for('static', filename='icons/github.svg') }}" />
    </a>
    <a href='https://www.linkedin.com/in/simonsonandrew/' aria-label='LinkedIn profile' rel='noopener noreferrer'>
        <img alt='' src="{{ url_for('static', filename='icons/linkedin.svg') }}" />
    </a>
    <a href='mailto:asimonson1125@gmail.com' aria-label='Send an email'>
        <img alt='' src="{{ url_for('static', filename='icons/email.svg') }}" />
    </a>
    <div id='vertLine' aria-hidden='true'></div>
</div>