@import "~react-image-gallery/styles/css/image-gallery.css";

html, body {
  background-color: #1b1f27;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-image: url('assets/plexus.jpg');
  /*url('https://i.pinimg.com/originals/d6/c3/ac/d6c3ac09021dbc0cda8ee27837d2c795.png')*/
  background-attachment: fixed;
  background-size: 100% auto;
  background-clip: border-box;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

h1, h2 {
  color: #ecebeb;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h3, h4 {
  color: #a8a8a8;
}

p, li {
  color: rgb(212, 212, 212);
  font-size: 1rem;
}

a {
  color: #a0a0a0a0;
  text-decoration: none;
}

.header h1 {
  display: inline-block;
  transition: .4s;
  margin-bottom: 0px;
  margin-top: .5rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.header {
  margin-bottom: 0px;
  margin-left: 0rem;
  background-color: #1a1a1a;
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  transition: .4s;
  overflow: hidden;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0px;
  width: 100%;
}

.navElement {
  border: solid black .2rem;
  width: 25vw;
  text-align: center;
  font-size: 1.2rem;
  transition: .4s;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: rgb(156, 49, 45, .4);
}

.navElement:hover {
  background-color: rgb(156, 49, 45, .8);
}

.navElement * {
  color: white;
  margin: 0px;
  display: block;
}

#home {
  height: 100vh;
  overflow-y: hidden;
}

.concentratedHead {
  display: inline-block;
  padding-right: 4rem;
  border-bottom: #0f0f0f solid 5px;
  color: white;
}

.foreground {
  padding-top: 7rem;
  padding-left: 8rem;
  width: calc(100%-8rem);
  min-height: calc(100vh - 8rem);
  background-color: rgb(44, 44, 44, .5);
  padding-bottom: 1rem;
  overflow: hidden;
  transition: .4s;
}

.foreground p {
  line-height: 1.5em;
  max-width: min(90%, 40rem);
}

.centerContent {
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#HomeContent {
  padding: 3rem;
  display: inline-block;
  background-color: rgb(44, 44, 44, .95);
}

#Vertical {
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 3rem;
  border-right: rgb(156, 49, 45) solid 1px;
}

.sideimg {
  float: right;
  top: 0;
  right: 0;
  display: block;
  max-width: min(40rem, 80%);
  max-height: min(30rem, 100%);
}

.col {
  float: left;
  margin-right: 3rem;
  width: calc(50% - 3rem);
}

.boxedImg {
  border: .5rem solid rgba(22, 22, 22, .8);
  max-width: calc(90% - 1rem);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-container {
  margin-left: 10%;
  max-width: 80%;
}

.elementBlock {
  margin-top: 3rem;
}

.skills {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  border: solid rgba(156, 49, 45, .8) .3rem;
  text-align: center;
  padding: 1rem;
}

.skill {
  display: inline-block;
  border: rgba(156, 49, 45, .8) solid .15rem;
  padding: .2rem;
  margin: .5rem;
  background-color: rgba(11, 11, 11, .8);
  color: rgb(212, 212, 212);
}

.projectList {
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.project {
  display: inline-block;
  text-align: left;
  margin: 1rem;
  width: 20rem;
  height: 22rem;
  border: .3rem rgba(156, 49, 45, .8) solid;
  background-color: rgba(22, 22, 22, .8);
}

.project .topBox, .project .bottomBox {
  padding-left: 1rem;
}

.tab {
  display: inline;
  float: right;
}

.project h3 {
  display: inline-block;
  border-bottom: black solid .2rem;
}

.project img {
  margin-top: auto;
  height: 3rem;
}

.topBox {
  padding-left: .5rem;
  padding-right: 1rem;
  height: 75%;
}

.bottomBox {
  height: auto;
  padding-left: 0rem;
  padding-right: 1rem;
}

.bottomBox a {
  vertical-align: middle;
}

.project a img, .project a p {
  padding: .5rem;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(52deg) brightness(106%) contrast(101%);
}

.project a img:hover, .project a p:hover {
  filter: invert(66%) sepia(0%) saturate(3964%) hue-rotate(99deg) brightness(100%) contrast(105%);
}

.incomplete {
  color: red;
}

.WIP {
  color: yellow;
}

.complete {
  color: green;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.socials {
  margin-left: 1rem;
  width: 0px;
}

.socials img {
  height: 2rem;
  margin-bottom: 1rem;
  filter: invert(29%) sepia(20%) saturate(1786%) hue-rotate(314deg) brightness(101%) contrast(110%);
  transition: .2s;
}

.socials img:hover {
  opacity: .5;
}

#vertLine {
  border-right: 1px solid rgb(156, 49, 45);
  margin-left: 1rem;
  height: 10rem;
}

@media screen and (max-width: 1200px) {

  .navBar {
    flex-direction: column;
  }

  .navElement {
    width: 100vw;
  }

  .projectList {
    width: 95%;
  }

  .sideimg {
    position: relative;
  }

  body {
    background-size: auto 100%;
  }

  .foreground {
    width: 100%;
    padding-left: 2rem;
    /* centered objects will need to remove 1.5 of this to center */
    padding-right: .5rem;
    padding-bottom: 36px;
  }

  .centeredForeground {
    margin-left: -1.5rem;
    /* remove .foreground excess margin */
  }

  .col {
    width: 90%;
    margin-bottom: 3rem;
  }

  #aboutMe {
    float: none;
    display: block;
    width: 90%;
  }

  #skills {
    float: none;
    margin-right: auto;
    display: block;
    width: 90%;
  }

  .footer {
    position: relative;
    width: 100%;
    display: inline-block;
    background-color: rgb(156, 49, 45);
  }

  .socials {
    display: flex;
    justify-content: space-around;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
  }

  .socials * {
    display: inline;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  .socials img {
    height: 2rem;
    margin-bottom: 0px;
    filter: none;
  }

  #vertLine {
    display: none;
    height: 0px;
  }
}